<app-header></app-header>
<div class="main-content">
  <div class="content-area" style="padding: 50px;"><div class="container py-4" style="padding: 50px;">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h1 class="mb-0">Profil Bancaire</h1>
    </div>

    <div class="container" >
      <div class="col-lg-4 mb-4">
        <div class="card shadow-sm h-100 ">
          <div class="card-header bg-success text-white">
            <h5 class="mb-0">Informations Personnelles</h5>
          </div>
          <div class="card-body">
            <div class="text-center mb-4">
              <h3 class="mt-3 mb-1">{{user?.name}}</h3>
            </div>


            <div class="border-top pt-3">
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between">
                  <span>Email:</span>
                  <strong>{{user?.email}}</strong>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                  <span>Addresse:</span>
                  <strong>{{user?.address}}</strong>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                  <span>Phone:</span>
                  <strong>{{user?.phone}}</strong>
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  </div>
</div>


