<div class="payment-container">
  <h2>💳 Choisir un compte pour le paiement</h2>


  <div class="col-md-3 mb-3">
    <select class="form-select" [(ngModel)]="selectedCompte"  (change)="onCompteSelected()" >
      <option value="">Tous les comptes</option>
      <option *ngFor="let compte of comptes" [value]="compte.id"  >
       {{compte.id}} {{ compte.accountNumber }}
      </option>
    </select>
  </div>


  <div class="video-wrapper" *ngIf="selectedCompte">
    <video #videoElement width="300" height="200" autoplay muted></video>
  </div>


  <p *ngIf="paymentStatus" class="success">{{ paymentStatus }}</p>
  <p *ngIf="scannedData">QR Code détecté : {{ scannedData }}</p>
</div>

