<app-header></app-header>
<div class="main-content" style="margin-top: 7%;">
  <div class="content-area">
    <div class="col-lg-6 mb-4">
      <div class="card">
        <div class="card-header bg-white">
          <h3 class="card-title mb-0"><i class="bi bi-pencil-square me-2 text-bg-success"></i>Nouvelle Facture</h3>
        </div>
        <div class="card-body">
          <form (ngSubmit)="verifierFacture()" #ngfacture="ngForm">
            <div class="row">
              <div class="col-md-6 mb-3">
                <div class="mb-3">
                  <label for="dateProchainCheck" class="form-label fw-bold">Saisir Date de paiement:</label>
                  <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-calendar-date"></i></span>
                    <input type="date" class="form-control" id="dateProchainCheck" name="dateProchainCheck" [(ngModel)]="dateProchainCheck" name="dateEcheance" required>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <div class="mb-3">
                  <label for="typeFacture" class="form-label fw-bold">Choisir votre compte</label>
                  <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-person-badge"></i></span>
                    <select class="form-select" id="compte"  [(ngModel)]="compteUser" name="compteUser" required>
                      <option value="" selected disabled >Choisissez Votre compte</option>
                      <option *ngFor="let compte of comptes">
                        {{ compte.accountNumber }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="typeFacture" class="form-label fw-bold">Type de Facture</label>
              <div class="input-group">
                <span class="input-group-text"><i class="bi bi-lightning-charge"></i></span>
                <select class="form-select" id="typeFacture" name="typeFacture" [(ngModel)]="type" name="type" required>
                  <option value="" selected disabled >Choisissez un type</option>
                  <option value="ONEE">ONEE</option>
                  <option value="LYDEC">LYDEC</option>
                  <option value="REDAL">REDAL</option>
                  <option value="Autre">Autre</option>
                </select>
              </div>
            </div>

            <div class="mb-4">
              <label for="referenceClient" class="form-label fw-bold">Référence Client</label>
              <div class="input-group">
                <span class="input-group-text"><i class="bi bi-key"></i></span>
                <input type="text" class="form-control" id="referenceClient"  [(ngModel)]="reference" name="reference" placeholder="Entrez la référence client" required>
              </div>
              <div class="form-text">Code client à 10 caractères</div>
            </div>

            <div class="d-flex justify-content-between align-items-center">
              <button type="reset" class="btn btn-outline-secondary">
                <i class="bi bi-x-circle me-2"></i>Réinitialiser
              </button>
              <button type="submit" class="btn btn-primary" [disabled]="!ngfacture.form.valid">
                <i class="bi bi-save me-2"></i>Enregistrer
              </button>
            </div>

          </form>
        </div>

      </div>
    </div>

  </div>
</div>




